menu "Stream Video Example"

config STREAM_VIDEO_WIFI_SSID
    string "WiFi SSID"
    default "Airtel_s3"
    help
        WiFi SSID for the example.

config STREAM_VIDEO_WIFI_PASSWORD
    string "WiFi password"
    default ""
    help
        WiFi password for the example.

endmenu
